numpy
numba
pandas
scipy
scikit-image
matplotlib==3.4.1
PyQt5
napari==0.4.7
pyqtgraph
opencv-python
dask
pims
trackpy
tqdm
tifffile==2020.6.3
roifile==2020.5.28
PyYAML
h5py
tables
qdarkstyle
colorharmonies
XlsxWriter