numpy
numba
pandas
scipy
scikit-image
matplotlib
napari
pyqtgraph
opencv-python
dask
pims
trackpy
tqdm
tifffile
roifile
PyYAML
h5py
tables
qdarkstyle
colorharmonies
XlsxWriter
ptvsd

napari-simpleitk-image-processing
napari-plot-profile
napari-roi
napari-plot
napari-time-series-plotter
napari-curtain
# napari-nd-cropper
napari-itk-io
napari-features
napari-elementary-numpy-operations
napari-brightness-contrast
napari-bil-data-viewer
napari-animation
napari-script-editor